In [1]:
print("Hello")
print('Hello World')

Hello
Hello World

## Intro to jupyter
we can write markdown or python code in our cells. You can chooose accordingly in the dropdown above.

In [2]:
a  = 10
print(a)

10

In [3]:
# Output of the question
print("career")
print('labs')

career
labs

# Intro to variables

In [4]:
a = 10
b = 20

a + b

30

In [5]:
a = 10
b = 20

sum = a + b
print(sum) 
# Here sum print the value which is store inside the sum

30

In [6]:
print('Sum')
# print function print the same string which is given in the single qoute
print("sum")
# print function print the same value if the string is given in the double qoute in the print function

Sum
sum

### Variable naming

In [7]:
# Variables name can be start 1.lowercase(a,b,...) 2.uppercase (A,B,C...) 3.Unerscore (_)

ab_c1 = 10
# 12ss = 2
#you can't start variables name with digit

Ad98 = 34
_re45 = 50

In [8]:
# Que.
a = 10
b = 20
multiple = a*b
print("multiple")

multiple

In [9]:
# Que.
a = 10
b = 20
multiple = a*b
print(multiple)

200

### Assigning different type of data to a variable

In [10]:
a = 10
a = 20
a = "Anu"
a
# a lost the address of the 10 and 20 so they are not print on the screen

'Anu'

In [11]:
type(a)

str

In [12]:
a = 10
type(a)

int

In [13]:
a = "Anu"
print(type(a))
a = 10
print(type(a))

<class 'str'>
<class 'int'>

In [14]:
# Que.select correct variable name
# 1.var1
# 2.Var_1
# 3.1var
# 4._var3
# Ans:1,2,4

# Que. What will  be the result of the following code?
# x = 10
# x = "abcd"
# Ans:abcd
    
# Que. What will be the type of x ?
# x = "abcd"
# x = 10
# Ans: int

##  Python Numbers

In [15]:
a1 = 23
a2 = 3.4
a3 = 4 + 5j
print(a1)
print(a2)
print(a3)

print(type(a1))
print(type(a2))
print(type(a3))

23
3.4
(4+5j)
<class 'int'>
<class 'float'>
<class 'complex'>

In [16]:
a = 10
a = a+1
a

11

In [17]:
a = 10
# Id function give us address
# Id function gives us unique number associated with storage where the variable getting store
print(id(a))
a = a+1
print(id(a))
a

2226940543504
2226940543536

11

In [18]:
a = 10
b = 10
print(id(a))
print(id(b))
# Both a & b variable storing the address of the same storage (this is valid for only the numbers between -5 to 256)
c = 500
d = 500
print(id(c))
print(id(d))

2226940543504
2226940543504
2227020378992
2227020366384

In [19]:
# Que . Will id1 and id2 have same value?
# a = 10
# id1 = id(a)
# b = a+2-2
# id2 = id(b)
# Ans:Yes

# Range of Integer


### Arithmatic operators are +,-,*,/,//,**,%

In [20]:
# 10-3
# 20-7.4
a = 10
b = 5
print(a-b)
c = a-b
print(c)
d = a+b
print(d)
e = a*b
print(e)
f = a/b
# /gives us only float value after division
print(f)
g = a//b
print(g)
# // gives us only integer value after division

h = a**b
print(h)
# **(exponentiation) gives us the value of a to the power b
i = a%b
print(i)
# % gives us remainder value after division of a and b

5
5
15
50
2.0
2
100000
0

In [21]:
2+3*4

14

In [22]:
2*3/4

1.5

In [23]:
2*3//4

1

In [24]:
(2*3)//4

1

# Priority of arithmatic operator

In [25]:
#Simple interest
p = 100
r = 12
t = 2
si =p*r*t//100
print(si)
# left to right calculation
Si = t//100*p*r
print(Si)
SI =(p*r*t)//100
print(SI)
# This is correct way

24
0
24

In [26]:
# Fah. to calcius convert
f = 100
c = f - 32*5/9   
# wrong ans
print(c)
C = (f - 32)*5/9
print(C)
# For integer //
Ci = (f - 32)*5//9
print(Ci)

82.22222222222223
37.77777777777778
37

In [ ]:
# Que . What will be the output of the following statement?
# print(17//10)
# ans:1
# Que . What will be the output of the following statement?
# print(17/10)
# ans:1.7

# Input

In [3]:
a = input()
a

23

'23'

In [4]:
a = input()
b = input()
s = a + b
print(s)
# The ans is wrong bcoz input function take a string as an argument
print(type(a))


# Convert string in int data type
c = '34'
d = int(c)
print(d)
print(type(d))


f = int(3.7)
print(f)
print(type(f))

5
8
58
<class 'str'>
34
<class 'int'>
3
<class 'int'>

In [5]:
a = int(input())
print(type(a))
b = float(input())
print(type(b))

23
<class 'int'>
34
<class 'float'>

In [6]:
a = int(input())
b = int(input())
s = a + b
print(s)

23
34
57

In [7]:
# Que. What will be the output of the code if input provided is 40 and 54?
a = input()
b = input()
c = a + b
print(c)

40
54
4054

In [8]:
# Que. What will be the output of the code if input provided is 40 and 54?
a = int(input())
b = int(input())
c = a + b
print(c)

40
54
94

In [11]:
# Que. What will be the output of the code if input provided is "abc" and"def
a = int(input())
b = int(input())
c = a + b
print(c)

"abc"

ValueError: invalid literal for int() with base 10: '"abc"'

In [12]:
P = int(input())
M = int(input())
C = int(input())

Average = (P + M + C)/3
print(Average)

3
4
6
4.333333333333333

In [14]:
X = int(input())
N = int(input())
Ans = X**N
print(Ans)

10
4
10000

In [15]:
A = int(input())
B = int(input())
C = int(input())
Diff = B - A 
print(Diff)

1
3
5
2